/*pafe titles*/

h1.page-header {
  text-align: center;
  font-family: 'Play', sans-serif;
}

/*list of screens*/

.list-screens ul {
  list-style-type: none;
}

.list-screens a {
  max-width: 120px;
  float: left;
}
